body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

#delete-btn {
  color: #5f9341;
  background-color: white;
}

input {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
}

button {
  margin-top: 5px;
  background: #5f9341;
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  width: 120px;
  font-weight: bold;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

#delete-btn {
  color: #5f9341;
  background-color: white;
  border: 1px solid #5f9341;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

a {
  color: #5f9341;
}
